<!DOCTYPE html>
<html
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div class="chat">
      <input type="text" class="chat-name" placeholder="Enter your name" />
      <div class="chat-messages">
      </div>
      <textarea class="chat-textarea" placeholder="Type your message"></textarea>
      <div class="chat-status">Status: <span>Idle</span>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      (function(){
        var getElement = function(s) {
          return document.querySelector(s)
        },

        //Get required nodes
        status = getElement('.chat-status span'),
        messages = getElement('.chat-messages'),
        textArea = getElement('.chat textarea'),
        chatName = getElement('.chat-name'),
        statusDefault = status.textContent,

        setStatus = function(s){
          status.textContent = s;

          if(s !== statusDefault){
            var delay = setTimeout(function(){
              setStatus(statusDefault);
              clearInterval(delay);
            }, 3000);
          }
        };


        try {
          var origin = window.location.origin;
          var socket = io.connect(origin);
        } catch (e) {
          setStatus(e.message);
        }

        if(socket !== undefined){
          //Listen for output from server
          socket.on('output', function(data){
            if(data.length){
              //display each message from the Listen
              for(var i = 0; i < data.length; i++) {
                var message = document.createElement('div');

                message.setAttribute('class', 'chat-message');
                message.textContent = data[data.length - i - 1].name + ': ' + data[data.length - i - 1].message;

                //append
                messages.insertBefore(message, messages.firstChild);
                messages.appendChild(message);
                messages.scrollTop = messages.scrollHeight;

              }
            }
          });
          //Listen for status
          socket.on('status', function(data){
            setStatus((typeof data === 'object') ? data.message : data);

            if(data.clear === true){
              textArea.value = '';
            }
          });


          //Listen for key down
          textArea.addEventListener('keydown', function(event) {
            var self = this,
                name = chatName.value;

            if(event.which === 13 && event.shiftKey === false){
              socket.emit('input', {name: name, message: self.value});

              event.preventDefault();
            }
          });
        }

      })();
    </script>
  </body>
</html>
